.Home {
  padding-left: 5%;
  padding-right: 5%;
  overflow-y: scroll;
  padding-bottom: 30px;
}

h2 {
  line-height: 80%;
}

h4 {
  line-height: 5%;
  padding-left: 20px;
}



hr {
  border-color: black;
} 
