.MenuContent {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.MenuContent > hr {
  border-color: black;
}

.MenuContent > h3 {
  line-height: 20%;
}

.MenuContent > a {
  color: black;
  font-size: 20px;
  line-height: 180%;
}

.MenuContent > a:hover {
  color: #666666;
  text-decoration: none;
}
